.new {
    width: 100%;
    display: flex;

    .newcontainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;

            h1 {
                color: var(--primary-color);
                font-size: 20px;
            }

            .left {
                flex: 1;
                text-align: center;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 2;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;

                    .forminput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input,
                        select {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;

                        }
                    }

                    button {
                        width: 140px;
                        padding: 10px;
                        border: none;
                        background-color: var(--primary-color);
                        color: white;
                        font-size: 16px;
                        font-weight: medium;
                        cursor: pointer;
                        margin-top: 10px;
                        transition: transform 80ms ease-in;

                        &:active {
                            transform: scale(0.95);
                        }
                    
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}